#profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#profileDetail {
  width: 40rem;
}

#name {
  border-bottom: 0.1rem solid limegreen;
  color: mediumseagreen;
}

#contact {
  color: seagreen;
}

#myimage {
  height: 15rem;
}

#github {
  width: 4.5rem;
}

#tistory {
  width: 5.5rem;
}

#profileBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contactBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 11rem;
}

#directContact {
  font-weight: 700;
}
